{
    "chains": [
      {
        "name": "ropsten",
        "type": "ethereum",
        "id": "3",
        "endpoint": "wss://ropsten.infura.io/ws/v3/87a29c128cdb49329e9b95e524e0ba7b",
        "from": "0x5b3F084Dd296DBda4a655E83Fc84d39C2b5a5C09",
        "opts": {
          "bridge": "0xe8f9290AC56f4045F070F0306f0dAfba57e2280a",
          "erc20Handler": "0xf7905969E54981FA3bBA149e80797F00070b7dd1",
          "startBlock": "11715899"
        }
      },
      {
        "name": "selendra",
        "type": "substrate",
        "id": "1",
        "endpoint": "wss://rpc1-testnet.selendra.org/",
        "from": "5DS1Ut8fsQ92p2EwzAhiDakBvCtQemh2mgKEubfbHwXUF1yY",
        "opts": {
            "useExtendedCall":"true"
        }
      }
    ]
  }
  